*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 20px rgba(28, 28, 28, 0.237);
    height: 80px;
    padding-left: 26px;
    padding-right: 80px;
}

.links{
    display: inline-block;
    margin-right: 25px;
}

.links>a{
    color: #64748b;
    margin-left: 60px;
    font-weight: 400;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

.links span>a{
    text-decoration: underline;
    color: #f5772f;
}

button{
    width: 230px;
    height: 50px;
    padding: 8px 16px;
    font-size: 17px;
    font-weight: 550;
    color: #64748b;
    background-color: white;
    border: none;
}

.button2{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

.start{
    background-color: #f5772f;
    color: white;
    border-radius: 100px;
}

.sponsor{
    border: 1px solid #f5772f;
    border-radius: 100px;
    color: #f5772f;
}

.hero{
    display: flex;
    padding-left: 26px;
    padding-right: 80px;
    padding-top: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

h1{
    width: 570px;
    font-size: 50px;
    font-weight: 500;
    line-height: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.green{
    color: #22c55e;
}

p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #64748b;
    font-size: 18px;
    width: 472px;
}

.buttonwords{
    width: 450;
}

.images{
    display: flex;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.Who{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pp{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #64748b;
    font-size: 18px;
    width: 472px;
    padding-top: 20px;
}

h2{
    width: 570px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section2{
    padding-top: 80px;
    padding-left: 26px;
    padding-right: 80px;
    background-color: #f3f5fc;
    padding-bottom: 85px;
}

.textarea{
    width:500px;
}

.section3{
    padding-top: 60px;

}

.front h1{
    font-size: 26px;
}

.button3{
    color: #f5772f;
    font-weight: 500;
    margin-top: 15px;
}

.front p{
    margin-top: 10;
}

.card{
    width: 500px;
}

.front{
    border: 1px solid #64748b;
border-radius: 0px 0px 20px 20px;
}

.imagee img{
    border-radius: 20px 20px 0px 0px;
}

.menu{
    display: grid;
    grid-template-columns: 3fr 3fr;
    column-gap: 0px 0px 0px 0px;
    grid-template-rows: 420px 100vh;
    padding-left: 26px;
}
